@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-color: #e4e9f7;
    --sidebar-color: #fff;
    --primary-color: #6c5bd9;
    --primary-color-light: #f6f5ff;
    --toggle-color: #dddd;
    --text-color: #808080;
    --secondary-color: #ccc2f2;
    --secondary-text-color: #6c5bd9;

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body {
    height: 100vh !important;
    background: var(--body-color) !important;
    transition: var(--tran-05) !important;
    overflow: hidden !important;
}

body.dark {
    --body-color: #181914;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
    --secondary-color: #000000;
    --secondary-text-color: #ccc;
}

/* ====== Sidebar ====== */

.custom-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

.custom-sidebar .custom-image-text .custom-image img {
    width: 70%;
    height: 20%;        /* or whatever size you want */      /* maintain aspect ratio */
    border-radius: 8px;  /* optional: rounded corners */  /* optional: cover the entire area */
    object-position: center; /* optional: center the image */
    margin-top: 10%;
}

.custom-sidebar.close .custom-image-text .custom-image img {
    width: 100%;
}

.custom-bottom-content {
    margin-bottom: 10%; /* try adjusting the number */
}

.custom-sidebar.close .custom-bottom-content {
    margin-bottom: 0;
}


.custom-sidebar.close {
    width: 88px;
}

/* ====== Reusable CSS ====== */

.custom-sidebar .custom-text {
    font-size: 15px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
}

.custom-sidebar.close .custom-text {
    opacity: 0;
}

.custom-sidebar .custom-image {
    min-width: 60px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.custom-sidebar li {
    height: 50px !important;
    margin-top: 6px !important;
    list-style: none !important;
    display: flex !important;
    align-items: center !important;
}

.custom-sidebar li .custom-icon {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    min-width: 60px !important;
    font-size: 18px !important;
}

.custom-sidebar li .custom-icon,
.custom-sidebar li .custom-text {
    color: var(--text-color) !important;
    transition: var(--tran-02) !important;
}

.custom-sidebar header {
    position: relative !important;
}

.custom-sidebar .custom-image-text img {
    width: 40px;
    border-radius: 6px;
}

.custom-sidebar header .custom-image-text {
    display: flex;
    align-items: center;
}

header .custom-image-text .custom-header-text {
    display: flex;
    flex-direction: column;
}

.custom-header-text .custom-name {
    font-weight: 600;
    font-size: 15px;
}

.custom-header-text .custom-profession {
    margin-top: -2px;
    font-size: 13px;
}

.custom-sidebar header .custom-toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 20px;
    width: 20px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--toggle-color);
    font-size: 20px;
    cursor: pointer;
    transition: var(--tran-03);
}

.custom-sidebar.close header .custom-toggle {
    transform: translateY(-50%);
}

body.dark .custom-sidebar header .custom-toggle {
    color: var(--text-color);
}

.custom-sidebar .custom-menu {
    margin-top: 17px;
}

.custom-sidebar .custom-search-box {
    background: var(--primary-color-light);
    border-radius: 6px;
    transition: var(--tran-05);
}

.custom-search-box input {
    height: 100%;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    background: var(--primary-color-light);
    outline: none;
    border: none;
    border-radius: 6px;
    transition: var(--tran-05);
    color: var(--text-color);
}

.custom-sidebar li a {
    height: 100% !important;
    width: 100% !important;
    display: flex !important;
    align-items: center !important;
    text-decoration: none !important;
    border-radius: 6px !important;
    transition: var(--tran-04) !important;
}

.custom-sidebar li a:hover {
    background: var(--secondary-color) !important;
}

.custom-sidebar li a:hover .custom-icon,
.custom-sidebar li a:hover .custom-text {
    color: var(--secondary-text-color) !important;
}

body.dark .custom-sidebar li a:hover .custom-icon,
body.dark .custom-sidebar li a:hover .custom-text {
    color: var(--text-color) !important;
}

.custom-menu-links .custom-nav-link.active a {
    background-color: var(--secondary-color) !important;
}

.custom-menu ul {
  padding-left: 0 !important;
}

.custom-menu-links .custom-nav-link.active a .custom-icon,
.custom-menu-links .custom-nav-link.active a .custom-text {
    color: var(--secondary-text-color) !important;
}

.custom-sidebar .custom-menu-bar {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.custom-menu-bar .custom-mode {
    background: var(--primary-color-light);
    position: relative;
    border-radius: 6px;
    transition: var(--tran-05);
}

.custom-menu-bar .custom-mode .custom-moon-sun {
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.custom-menu-bar .custom-mode i {
    position: absolute;
    transition: var(--tran-03);
}

.custom-menu-bar .custom-mode i.custom-sun {
    opacity: 0;
}

body.dark .custom-menu-bar .custom-mode i.custom-sun {
    opacity: 1;
}

body.dark .custom-menu-bar .custom-mode i.custom-moon {
    opacity: 0;
}

.custom-menu-bar .custom-mode .custom-toggle-switch {
    position: absolute;
    right: 0px;
    height: 100%;
    min-width: 60px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 6px;
    background: var(--primary-color-light);
    transition: var(--tran-05);
}

.custom-toggle-switch .custom-switch {
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--toggle-color);
}

.custom-switch::before {
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    cursor: pointer;
    transition: var(--tran-03);
}

body.dark .custom-switch::before {
    left: 24px;
}

.custom-page-name {
        position: relative;
        left: 250px;
        height: 100vh;
        width: calc(100% - 250px);
        background: var(--body-color);
        transition: var(--tran-05);
    }

.custom-page-name .custom-text {
    font-size: 30px;
    font-weight: 700;
    color: var(--secondary-text-color);
    margin: 8px 40px;
}

.custom-sidebar.close ~ .custom-page-name {
    left: 88px;
    width: calc(100% - 88px);
}

/* POP UP */
.custom-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;
}

.custom-popup .custom-popup-content {
    background: var(--sidebar-color);
    width: 400px;
    height: 300px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.custom-popup-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    padding: 0 20px;
}

.custom-button-group {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
    width: 300px;
}

.custom-button-group button {
    width: 150px;
    text-align: center;
}

.custom-confirm-button,
.custom-cancel-button {
    background: var(--sidebar-color);
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 15px;
    transition: var(--tran-03);
}

.custom-confirm-button {
    border-radius: 5px;
    background: #4caf50;
    color: white;
    font-weight: bold;
}

.custom-confirm-button:hover {
    background: #247428;
    color: white;
}

.custom-cancel-button {
    background: #e53935;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.custom-cancel-button:hover {
    background: #b51515;
    color: white;
}

.custom-popup-content h2 {
    margin-bottom: 20px;
    font-weight: bold;
    color: var(--text-color);
}

.custom-popup-content p {
    margin-bottom: 10px;
    color: var(--text-color);
}

.custom-popup.hidden {
    display: none;
}

.custom-popup.show {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.custom-popup-content {
    background: var(--sidebar-color);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
